:root {
    
    --bs-blue: #6ebbfe;
    --bs-blue-2: #65c9e9;
    --bs-dark-blue: #1f4281;
    --bs-color-gray-1: #a5a5a5;
    --bs-color-gray-2: #4d4f5d;
    --bs-color-gray-3: #749dc7;
    --bs-color-white: #ffffff;
    --bs-color-white-2: #e4e0e0;
    --bs-green: #2dec00;
    --bs-green-2: #05c995;
    --bs-pink: #df5f5f;
    --bs-black: #0a0a0a;
    --bs-black-2: #313131;
    --bs-aqua: #55afa6;




    --bs-red-color: #2e86c1;
    --bs-color-gray-dark: #333333;
    
    --bs-color-gray-2: #252B42;
    --bs-color-pink-1: #f7e9ec;
    --bs-color-pink-2: #FEECF0;
    --bs-color-faq-1: #E6E6E6;
    
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;

}